footer{
    background-color: #56d262;
}
.follow-us li, .contact-us li{
    padding: 5px;
}
.follow-us li a, .contact-us li a{
    text-decoration: none;
}
.trademark{
    text-decoration: none;
}
ul{
    font-weight: bolder;
}
ul li{
    font-weight: normal;
}