header{
    background-color: #56d262;
}

.nav_icon{
    margin: 10px;
    padding: 5px;
    border-radius: 100px;
    border: 1px solid #bfa3a3;
    background-color: #f5f5f5;
}

.nav_icon:hover{
    background-color: #D9D9D9;
}

header a, header a:visited{
    color: #000;
}

button.subheader:hover{
    background-color: #F4C82B !important;
    color: #000 !important;
}

button.subheader{
    width: 330px !important;
    height: 80px !important;
    background-color:#D9D9D9 !important;
    font-size: 30px !important;
    font-weight:bold !important;
}

input.recipe_search{
    height: 45px;
    border: 1px solid #bfa3a3; 
    border-radius:5px;
}
